.container {
  max-width: 600px;
}

.border {
  border: 2px solid #007bff !important; /* Azul para o Pai */
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-white {
  background-color: #ffffff !important;
}
